<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="current_session_context_class">thread</property>
        <mapping class="com.example.model.Protein"/>
        <mapping class="com.example.model.ProteinChain"/>
        <mapping class="com.example.model.Pivot512"/>
        <mapping class="com.example.model.PivotSet"/>
        <mapping class="com.example.model.ProteinChainMetadata"/>
        <mapping class="com.example.model.PivotPairsFor64pSketches"/>
    </session-factory>
</hibernate-configuration>