#todo add to gitignore, provide example instead
# todo use dot notation for keys
# filesystem paths here will be checked by InstallationIntegrityCheck class
# there are hardcoded assumptions for safe installation
# you might need to either turn off the check or change the hardcoded paths
DAEMON_UPDATE_TRIGGER_HOUR=1
GESAMT_COMPUTATION_CUTOFF_THRESHOLD=0.0
CONSUMER_BUFFER_SIZE=100

COMPUTE_CHAIN_FROM=-1
COMPUTE_CHAIN_TO=-1

database.driver=jdbc:mariadb
database.address=localhost:3306
database.name=protein_chain_db
database.username=chain
database.password=OneCha1n2RuleThem4ll

flyway.connection.username=root
flyway.connection.password=password

dataset.remote_url=rsync.ebi.ac.uk::pub/databases/pdb/data/structures/divided/mmCIF
dataset.mirror_dir=/mnt/data/PDBe_mirror
dataset.raw_dir=/mnt/data/PDBe_raw
dataset.binary_dir=/mnt/data/PDBe_binary
dataset.update_script_path=dependencies/ProteinSearch/utils/update_binary_archive.py

subconfigs.python_ini_config_path=dependencies/protein_search.ini

messiff.short_sketches.manager_script=dependencies/mics-proteins/sequential_sketches/http_64pivots.sh
messiff.long_sketches.manager_script=dependencies/mics-proteins/sequential_sketches/http_512pivots.sh
messiff.ppp_codes.manager_script=dependencies/mics-proteins/ppp_codes/http.sh

messiff.long_sketches.default_config=dependencies/mics-proteins/sequential_sketches/http_512pivots.defaults
messiff.ppp_codes.default_config=dependencies/mics-proteins/ppp_codes/pppcodes.defaults

messiff.short_sketches.port=20009
messiff.long_sketches.port=20003
messiff.ppp_codes.port=20001
messiff.sketches.short_csv=dependencies/mics-proteins/sequential_sketches/csvPivotPairs/512/64_512/320_pairs.csv
messiff.sketches.long_csv=dependencies/mics-proteins/sequential_sketches/csvPivotPairs/512/1024_pairs.csv
messiff.ppp_codes.short_csv=dependencies/mics-proteins/ppp_codes/csvPivotPairs/512/64_512/320_pairs.csv
messiff.ppp_codes.long_csv=dependencies/mics-proteins/ppp_codes/csvPivotPairs/512/1024_pairs.csv
messiff.ppp_codes.builder_script=dependencies/mics-proteins/ppp_codes/pppcodes.sh
messiff.sketches.short_bin=dependencies/mics-proteins/sequential_sketches/algs/sketchesOnly_64_from_512_sk194b.bin
messiff.sketches.long_bin=dependencies/mics-proteins/sequential_sketches/algs/sketchesOnly_512_sk1024b.bin

messiff.tmp_dir=dependencies/tmpfiles

flask.location=dependencies/ProteinSearch
proteins.jar_location=dependencies/proteins.jar
update_tool.runner_script=dependencies/ProteinSearch/utils/runner.sh

SKETCH_LEARNING_SAMPLE_SIZE=1000000
# daemon sets the following two automatically
# use either depending on which sketch you want to learn/apply when using CLI
#SKETCH_LEARNING_SKETCH_LENGTH=192
#SKETCH_LEARNING_PIVOTS_COUNT=64
SKETCH_LEARNING_SKETCH_LENGTH=1024
SKETCH_LEARNING_PIVOTS_COUNT=512
SKETCH_LEARNING_BALANCE=0.5

SECONDARY_FILTERING_SKETCHES_DIR=secondaryFiltering

PIVOTS_64P_CSV=csvPivotPairs/512/64_512/320_pairs.csv
PIVOTS_512P_CSV=csvPivotPairs/512/1024_pairs.csv